{% extends 'base.html' %}
{% load static %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Профиль
            <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}

{% block content %}
    <div class="content">
        <h1>
            Профиль - {{ profile.user }}
        </h1>
        <div class="content-body">
            <table class="profile">
                <tbody>
                    <thead><tr><td colspan="2">Персональные данные</td></tr></thead>
                    <tbody>
                    <form action="{% url 'update_profile' profile.pk %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <td>ФИО:</td>
                            <td>
                                {% if perms.profile.administrator %}
                                <div class="editinp">
                                    {{ profile.full_name }}<div class="edit"><span></span><input type="text" name="full_name" placeholder="ФИО" value="{{ profile.full_name }}"></div>
                                </div>
                                {% else %}
                                    {{ profile.full_name }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Мобильный:</td>
                            <td>
                                <div class="editinp">
                                    {{ profile.phone }}<div class="edit"><span></span><input type="text" name="" placeholder="" value="{{ profile.phone }}"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td>{{ profile.email }}</td>
                        </tr>
                        <tr>
                            <td>Номер счета:</td>
                            <td>COOP-007-20203232</td>
                        </tr>
                        <tr>
                            <td>Дата регистрации:</td>
                            <td>27.05.2020</td>
                        </tr>
                        <tr>
                            <td>Дата вступления:</td>
                            <td>27.05.2020</td>
                        </tr>
                        <tr>
                            <td>Стоимость жилья:</td>
                            <td>15 000</td>
                        </tr>
                        <tr>
                            <td>Накоплено личных паевых</td>
                            <td>15 000</td>
                        </tr>
                        <tr>
                            <td>Номер паспорта</td>
                            <td>34 09 294949</td>
                        </tr>
                        <tr>
                            <td>Дата рождения</td>
                            <td>27.05.2020</td>
                        </tr>
                        <tr>
                            <td>Гражданство</td>
                            <td>РФ</td>
                        </tr>
                        <tr>
                            <td>Код подразделения</td>
                            <td>294-949</td>
                        </tr>
                        <tr>
                            <td>Дата выдачи паспорта</td>
                            <td>27.05.2020</td>
                        </tr>
                        <tr>
                            <td>ИНН физ. Лица </td>
                            <td>3242342341424124124</td>
                        </tr>
                        <tr>
                            <td>Кем выдан </td>
                            <td>ОУФМС Москвы</td>
                        </tr>
                        <tr>
                            <td>Регион / Город </td>
                            <td>Москва</td>
                        </tr>
                        <tr>
                            <td>Регион приобретения объекта недвижимости:</td>
                            <td>Тула</td>
                        </tr>
                        <tr>
                            <td><input type="submit" name="submit_profile" value="Сохранить" class="savebut"></td><td></td>   
                        </tr>
                    </form>
                    </tbody>

                    <thead><tr><td colspan="2">Адресные данные</td></tr></thead>
                    <form action="{% url 'update_profile' profile.pk %}" method="post">
                        {% csrf_token %}
                        {% for registration in address_registration %}
                            <tr>
                                <td colspan="2"><h3>Адрес регистрации</h3></td>
                            </tr>
                            <tr>
                                <td>Страна:</td>
                                <td>
                                    <input type="text" name="country" placeholder="Укажите страну" value="{{ registration.country }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Регион:</td>
                                <td>
                                    <input type="text" name="region" placeholder="Укажите регион" value="{{ registration.region }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Город:</td>
                                <td>
                                    <input type="text" name="city" placeholder="Укажите город" value="{{ registration.city }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Улица:</td>
                                <td>
                                    <input type="text" name="street" placeholder="Полное название улицы" value="{{ registration.street }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Дом:</td>
                                <td>
                                    <input type="text" name="house" {% if not registration.house %} placeholder="Номер дома" {% else %} value="{{ registration.house }}" {% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>Корпус:</td>
                                <td>
                                    <input type="text" name="corpus" placeholder="Если есть" value="{{ registration.corpus }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Квартира:</td>
                                <td>
                                    <input type="text" name="flat" {% if not registration.flat %} placeholder="Номер квартиры" {% else %} value="{{ registration.flat }}" {% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>Индекс:</td>
                                <td>
                                    <input type="text" name="index" {% if not registration.index %} placeholder="XXXXXX" {% else %} value="{{ registration.index }}" {% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>Адрес регистрации полный:</td>
                                <td>
                                    Полный адрес
                                </td>
                            </tr>
                        {% endfor %}

                            <tr>
                                <td><input type="submit" name="submit_one" value="Сохранить" class="savebut"></td><td></td>   
                            </tr>   
                    </form>
                    <form action="{% url 'update_profile' profile.pk %}" method="post">
                        {% csrf_token %}
                        {% for actual in address_actual %}
                            <tr>
                                <td colspan="2"><h3>Адрес фактического проживания</h3></td>
                            </tr>
                            <tr>
                                <td>Страна:</td>
                                <td>
                                    <input type="text" name="country" placeholder="Укажите страну" value="{{ actual.country }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Регион:</td>
                                <td>
                                    <input type="text" name="region" placeholder="Укажите регион" value="{{ actual.region }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Город:</td>
                                <td>
                                    <input type="text" name="city" placeholder="Укажите город" value="{{ actual.city }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Улица:</td>
                                <td>
                                    <input type="text" name="street" placeholder="Полное название улицы" value="{{ actual.street }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Дом:</td>
                                <td>
                                    <input type="text" name="house" {% if not actual.house %} placeholder="Номер дома" {% else %} value="{{ actual.house }}{% endif %}">
                                </td>
                            </tr>
                            <tr>
                                <td>Корпус:</td>
                                <td>
                                    <input type="text" name="corpus" placeholder="Если есть" value="{{ actual.corpus }}">
                                </td>
                            </tr>
                            <tr>
                                <td>Квартира:</td>
                                <td>
                                    <input type="text" name="flat"  {% if not actual.flat %} placeholder="Номер квартиры" {% else %} value="{{ actual.flat }}" {% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>Индекс:</td>
                                <td>
                                    <input type="text" name="index" {% if not actual.index %} placeholder="XXXXXX" {% else %} value="{{ actual.index }}" {% endif %}>
                                </td>
                            </tr>
                            <tr>
                                <td>Адрес проживания полный:</td>
                                <td>
                                    Полный адрес
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td><input type="submit" name="submit_two" value="Сохранить" class="savebut"></td><td></td>   
                            </tr>          
                    </form>
                </tbody>


                <thead><tr><td colspan="2">Анкета</td></tr></thead>
                <tbody>
                    <tr>
                        <td>Образование:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Ученая степень:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Тип занятости:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Место работы/учебы:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Должность:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Общий стаж работы, лет:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Среднемесячный доход за последние 6 месяцев за вычетом налогов:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Среднемесячный совокупный доход семьи за последние 6 месяцев, руб:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Семейное положение:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Дети/внуки:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Источник первоначальных взносов:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Цель участия в ЖК:</td>
                        <td>
                            <select name="" id="">
                                <option value="">Вариант 1</option>
                                <option value="">Вариант 2</option>
                                <option value="">Вариант 3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Состояние на учете в ПНД и / или других учреждениях:</td>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Состоит на учете по улучшению жилищных условий:</td>
                        <td>
                            <input type="checkbox" name="" id="">
                        </td>
                    </tr>
                    <tr>
                        <td>Общая площадь объекта не менее, кв.м.:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Жилая площадь объекта не менее, кв.м:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Площадь кухни не менее, кв.м.:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
                    <tr>
                        <td>Этаж:</td>
                        <td>
                            <input type="text" name="">
                        </td>
                    </tr>
 
                </tbody>
            </table>

{#            <input type="submit" value="Сохранить" class="savebut">#}

{#                <div class="error"><img src="{% static 'img/information.svg' %}" alt="">{{ message }}</div>#}
{#            <div class="error"><img src="img/error.svg" alt="">Ошибка сохранения. Обратитесь в <a href="#">поддержку</a></div>#}
        </div>
    </div>
{% endblock content %}
