{% extends 'base.html' %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Инструкции <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
			<div class="content">
				<h1>
					Инструкции
				</h1>
				<div class="content-body">
					<table>
						<thead>
							<tr>
								<td>Инструкция</td>
								<td>Загрузка</td>
							</tr>
						</thead>
						<tbody>
                        {% for doc in object_list %}
							<tr>
								<td>{{ doc.title }}</td>
								<td>
									<a href="{{ doc.sample.url }}" target="_blank">Просмотреть</a>
								</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endblock content %}
