{% extends 'base.html' %}
{% load static %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Верификация документов  <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}

			<div class="content">
				<h1>
					Верификация документов
				</h1>

                {% include "include/verif_doc_menu.html" %}

				<div class="content-body">
					<p>
						Для обеспечения полноценного документооборота и формирование всех необходимых документов необходимо пройти фотоверификацию. Для этого:
						<ul>
							<li>Сделайте ксерокопию паспорта</li>
							<li>На ксерокопии обязательно напишите, своим почерком: "моя подпись на сегодняшний день такая _____(подпись)"</li>
							<li>Сделать четкую фотография, на которой вы должны держать паспорт на уровне своей шеи. Обратите внимание, все данные на фото должны быть разборчивы</li>
						</ul>
						<div class="resp-img"><img src="{% static 'img/primer.png' %}" alt=""></div>
					</p>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="info"><img src="{% static 'img/information.svg' %}" alt="">{{ message }}</div>
                            {% endfor %}
                        </ul>
                    {% endif %}
					<div class="table">
						<table>
							<thead>
								<tr>
									<td>Документ</td>
									<td>Загрузить документ</td>
									<td>Статус</td>
								</tr>
							</thead>
							<tbody>

                            {% for doc in object_list %}
								<tr>
									<td>{{ doc.title }}</td>
									<td>
                                        {% if not doc.docs.all  %}
                                            <form action="{% url 'add_doc' %}" method="post" enctype="multipart/form-data" >
                                                {% csrf_token %}
                                                <div class="file-inp">
                                                    <input type="hidden" name="doc" id="id_doc" value="{{ doc.pk }}">
                                                    <label><input type="file" name="user_document" ><span>Выберите файл</span></label>
                                                </div>
                                                <input type="submit" value="Сохранить"  class="savebut">
                                            </form>
                                    </td>
                                        <td>Не загружен</td>
                                        {% else %}
                                           {% for see in doc.docs.all %}
                                               <a href="{{ see.user_document.url }}" target="_blank">смотреть документ</a>
                                               {% if see.moderation == False %}
                                                   <td>В обработке</td>
                                               {% else %}
                                                   <td>Проверено {{ see.updated }}</td>
                                               {% endif %}
                                           {% endfor %}
                                        {% endif %}
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>

{#<div class="info"><img src="{% static 'img/information.svg' %}" alt="">Изменения сохранены</div>#}
{#<div class="error"><img src="{% static 'img/error.svg' %}" alt="">Ошибка сохранения. Обратитесь в <a href="#">поддержку</a></div>#}

				</div>

			</div>
		{% endblock content %}