@media screen and (min-width: 1600px) {
.const{
	width:1400px;
}
}

@media screen and (max-width: 1200px) {
.const{
	max-width: 1000px;
	padding-left:10px !important;
	padding-right:10px !important;
}

.foot-block a.tosupport{
	padding:10px;
}
}

@media screen and (max-width: 1000px) {
.const{
	width: 100%;
	min-width:300px;
	padding-left:15px !important;
	padding-right:15px !important;
}

a.exit-link{
	font-size: 0;
	padding:8px 10px;
}

a.exit-link svg{
	margin-right: 0;
}
.logo img {
    height: 60px;
}

main nav{
	position: fixed;
	left:-260px;
    height: 100vh;
    top: 0;
	border-radius: 0;
	visibility: hidden;
	opacity: 0.0;
	transition: 0.3s;
}

main nav.active{
	opacity: 1.0;
	visibility: visible;
	left:0;
}

footer .const{
	flex-wrap: wrap;
	justify-content: space-between;
}

.foot-block{
	width: 33%;
	padding:0 20px;
	margin-right: 0;
}

.foot-block:last-child{
	display: none;
}

.foot-block:first-child a.tosupport{
	display: inline-flex;
	margin-top: 20px;
}

main .const{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

main .content{
	border-radius: 0;
	padding:20px 15px;
}

.content h1{
	display: none;
}

.const.mobile-nav h1{
margin-bottom: 0;
padding-left: 34px;
font-size: 500;
}

.const.mobile-nav{
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.menu-open{
	display: block;
	margin-right: 10px;
	background-image: url(/static/img/open-menu.svg);
background-size: contain;
width:22px;
height:22px;
background-position: 50% 50%;
background-repeat: no-repeat;
position: absolute;
transition: 0.3s;
outline: none;
z-index: 2;
}

.menu-open.active{
	background-image: url(/static/img/close-menu.svg);
	background-size: contain;
	position: fixed;
    top: 30px;
    left: 280px;
	width: 16px;
height: 16px;
	transform:rotate(90deg);
	outline: none;
	z-index: 5;
}

.content-body, .content-body .table{
	overflow: auto;
}


.head-info span{
	font-size: 14px;
}

.head-info{
	margin-left: 20px;
	padding-left: 20px;
	width: 100%;
}

a.exit-link{
	margin-left: 20px;
}

}

@media screen and (max-width: 840px) {


	.logo{
		width: 100%;
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
		text-align: center;
	}

	main nav ul{
		min-height: 100%;
	}

	header .const{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.head-info{
		width: 40%;
		margin-left: 0;
		border-left: 0;
		margin-top: 20px;
		padding-left: 0;
	}

	a.exit-link{
		margin-left: 0;
		margin-top: 18px;
	}

	.foot-block{
		padding: 0;
		width: 47%;
	}

	.foot-block:first-child{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-bottom:20px;
	}
	.content-body table{
		min-width: 500px;
	}
}

@media screen and (max-width: 580px) {
	.news-block{
		flex-wrap: wrap;
	}

	.news-img{
		width: 100%;
		max-height: 30vh;
		height:200px;
		margin-bottom: 20px;
		margin-right: 0;
	}

}

@media screen and (max-width: 450px) {

	.modal-h2{
		min-width: 200px;
		text-align: center;
	}

.calcul-form > div > label:first-child{
	width: 100%;
	margin-bottom: 20px;
}

input, textarea, button, select{
	font-size: 16px !important;
}

	.head-info{
		width: 100%;
		text-align: center;
	}

	a.exit-link{
		font-size: 12px;
	}

	a.exit-link svg{
		margin-right: 6px;
	}

	header .const{
		justify-content: center;
	}

	.foot-block{
		width: 100%;
	}
	main nav.active{
		width: 100%;
		padding-right: 60px;
	}

	.menu-open.active{
		left:auto;
		right:12px
	}

	.paginator a{
		margin-bottom: 10px;
	}

	.auth-block{
		width: 100%;
		border-radius: 0;
		max-width: 100%;
	}

	.autoriz .logo{
		border-bottom: 0;
	}

}