{% extends 'base.html' %}
{% load static %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Полностью рассчитанные
            <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
    <!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}

{% block content %}

    <div class="content">
        <h1>
            Полностью рассчитанные
        </h1>
        {% include 'include/turn_menu.html' %}

        <div class="content-body">
            <form method="get" action="{% url 'turn_search' %}" class="search-inp">
                <input type="text" placeholder="Введите ФИО члена" name="calc">
                <input type="submit" value="" class="searchbut">
            </form>
            <table>
                <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Номер счета</td>
                    <td>Дата вступления в ЖК</td>
                    <td>Дата полного погашения</td>
                </tr>
                </thead>
                {% for member in object_list %}
                    <tbody>
                    <tr>
                        <td><a href="{% url "user_profile" member.pk %}">{{ member.full_name }}</a></td>
                        <td>{{ member.number_score }}</td>
                        <td>{{ member.date_entry }}</td>
                        <td>{{ member.date_repayment }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

            {% include 'include/pagination.html' %}

    </div>
{% endblock %}