{% extends 'base.html' %}
{% load static %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Пайщики кооператива
            <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}

{% block content %}

    <div class="content">
    <h1>
        Пайщики кооператива
    </h1>
        {% include 'include/turn_menu.html' %}

        <div class="content-body">
            <form method="get" action="{% url 'turn_search' %}" class="search-inp">
                <input type="text" placeholder="Введите ФИО члена" name="partner">
                <input type="submit" value="" class="searchbut">
            </form>
            <table>
                <thead>
                <tr>
                    <td>ФИО</td>
                    <td>Дата регистрации</td>
                    <td>Дата активации</td>
                    <td>Накоплено для очереди</td>
                    <td>Осталось для очереди</td>
                    <td>Документы</td>
                </tr>
                </thead>
                {% for member in object_list %}
                    <tbody>
                    <tr>
                        <td>{{ member.profile.full_name }}</td>
                        <td>{{ member.date_joined }}</td>
                        <td>{{ member.date_joined }}</td>
                        <td>{{ member.accumulated_queue }}</td>
                        <td>{{ member.left_queue }}</td>
                        {% if member.documents == True %}
                            <td>Да</td>
                        {% else %}
                            <td>Нет</td>
                        {% endif %}
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>


            {% include 'include/pagination.html' %}


    </div>
{% endblock %}