{% load static %}

<div class="content">
    <h1>
        Новости
    </h1>
    {% if perms.profile.administrator %}
        <ul class="pages-menu">
            <li class="active"><a href="{% url 'add_post' %}">Добавить статью</a></li>
        </ul>
        <hr>
    {% endif %}
    {% for new in post_list %}
        <div class="content-body">
        <div class="news-block">
            {% if new.image %}
                <div class="news-img" style="background-image: url({{ new.image.url }});"></div>
            {% else %}
                <div class="news-img" style="background-image: url(/static/img/s1200.jpeg);"></div>
            {% endif %}
            <div class="news-info">
                <h2>{{ new.title }}</h2>
                {{ new.mini_text|safe }}
                <a href="{{ new.get_absolute_url }}" class="savebut">Подробней</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'include/pagination.html' %}
    {% endif %}
    </div>
</div>
