{% extends 'base.html' %}

{% block mobile %}
	<!-- Меню и заголовок для мобилы -->
	<div class="const mobile-nav">
		<a href="javascript:;" class="menu-open"></a>
		<h1>
			Администрирование  <!-- Дублировал для мобильной версии -->
		</h1>
	</div>
	<!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
			<div class="content">
				<h1>
					Администрирование
				</h1>

                {% include 'include/admin_menu.html' %}


<div class="content-body">
    <form method="get" action="{% url 'admin_search' %}" class="search-inp">
        <input type="text" placeholder="Введите ФИО члена" name="all">
        <input type="submit" value="" class="searchbut">
    </form>


	<div class="table">
		<table>
			<thead>
				<tr>
					<td>ФИО</td>
					<td>Дата регистрации</td>
					<td>Группа пользователя</td>
				</tr>
			</thead>
			<tbody>
            {% for member in object_list %}
				<tr>
					<td>{{ member.full_name }} <a href="{% url "user_profile" member.pk %}" class="edit"></a></td>
					<td>{{ member.user.date_joined }}</td>
					<td>{{ member.user.groups.all.0 }}</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
	</div>

				</div>
				{% include 'include/pagination.html' %}

			</div>

{% endblock content %}