{% extends 'base.html' %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Администрирование  <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
    <!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
    <div class="content">
        <h1>
            Администрирование
        </h1>

        {% include 'include/admin_menu.html' %}


        <div class="content-body">
            <form method="get" action="{% url 'feedback:feedback_search' %}" class="search-inp">
                <input type="text" placeholder="Введите ФИО члена" name="qus">
                <input type="submit" value="" class="searchbut">
            </form>


            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td>ФИО</td>
                        <td>Дата вопроса</td>
                        <td>Заголовок вопроса</td>
                        <td>Вопрос</td>
                        <td>Статус</td>
                        <td>Действия</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for support in object_list %}
                        <tr>
                            <td>{{ support.user.username }}</td>
                            <td>{{ support }}</td>
                            <td>{{ support.title }}</td>
                            <td>{{ support.text }}</td>
                            {% if support.processing == False %}
                                <td>В ожидании</td>
                            {% else %}
                                <td>Рассмотрено</td>
                            {% endif %}
                            <td><a href="{{ support.get_absolute_url }}">Посмотреть</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% if is_paginated %}
            {% include 'include/pagination.html' %}
        {% endif %}

    </div>
{% endblock content %}