{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel=icon href="{% static 'favicon.png' %}">
    <title>{% block title %}ЖК Современные решения{% endblock title %}</title>
</head>
<body>
{% include 'include/header.html' %}
    {% block mobile %}

    {% endblock mobile %}
<main>
    {% if messages %}
        {% for message in messages %}
            <div class="error"><img src="{% static 'img/error.svg' %}" alt="">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="const">
        {% include 'include/sidebar.html' %}
        {% block content %}

        {% endblock content %}
    </div>
</main>
{% include 'include/footer.html' %}

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

</body>
</html>