{% extends 'base.html' %}
{% load static %}

{% block mobile %}
    <!-- Меню и заголовок для мобилы -->
    <div class="const mobile-nav">
        <a href="javascript:;" class="menu-open"></a>
        <h1>
            Техподдержка  <!-- Дублировал для мобильной версии -->
        </h1>
    </div>
    <!-- /Меню и заголовок для мобилы -->
{% endblock mobile %}


{% block content %}
    <div class="content">
        <h1>
            Техподдержка
        </h1>

        {% include 'include/admin_menu.html' %}

        <div class="content-body">
            <h2>Вопрос</h2>
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>ФИО</td>
                        <td>Дата вопроса</td>
                        <td>Заголовок вопроса</td>
                        <td>Вопрос</td>
                        <td>Фото</td>
                        <td>Статус</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ single_support.id }}</td>
                        <td>{{ single_support.user.profile.full_name }}</td>
                        <td>{{ single_support.date }}</td>
                        <td>{{ single_support.title }}</td>
                        <td><a data-fancybox data-src="#modal-supp-txt" href="javascript:;">Открыть</a></td>
                        <td><a href="{{ single_support.image.url }}" data-fancybox="images" data-caption="{{ single_support.title }}">Фото</a></td>
                        {% if single_support.processing == False %}
                            <td>В ожидании</td>
                        {% else %}
                            <td>Рассмотрено</td>
                        {% endif %}

                    </tr>
                    <div style="display: none;" id="modal-supp-txt">
                        <h2 class="modal-h2">{{ single_support.title }}</h2>
                        <p>{{ single_support.text }}</p>
                    </div>
                    </tbody>
                </table>
            </div>
            <br><br><h2>История ответов</h2>
            <div class="table">
            <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>ФИО</td>
                    <td>Дата ответа</td>
                    <td>Заголовок ответа</td>
                    <td>Ответ</td>
                    <td>Фото</td>
                    <td>Статус</td>
                </tr>
            </thead>
            <tbody>
                {% for answer in single_support.reply.all %}
                    <tr>
                        <td>{{ answer.id }}</td>
                        <td>{{ answer.user.profile.full_name }}</td>
                        <td>{{ answer.data }}</td>
                        <td>{{ single_support.title }}</td>
                        <td><a data-fancybox data-src="#modal-answ-txt-{{ answer.id }}" href="javascript:;">Открыть</a></td>
                        <div style="display: none;" id="modal-answ-txt-{{ answer.id }}">
                            <h2 class="modal-h2">{{ single_support.title }}</h2>
                            <p>{{ answer.text }}</p>
                        </div>
                        {% if not answer.image %}
                            <td>Без вложения</td>
                        {% else %}
                            <td><a data-fancybox="images" data-caption="{{ single_support.title }}" href="{{ answer.image.url }}">Фото</a></td>
                        {% endif %}

                            <td>Отправлено</td>

                    </tr>
                {% endfor %}
                    </tbody>

            </table>
            </div>
            <br><br>
            <form action="{% url 'feedback:add_answer' single_support.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Заголовок ответа:</label>
                <input type="text" name="title" required placeholder="Макс. 50 символов"><br>
                <label>Ответ</label>
                <textarea name="text" id="" cols="30" rows="10"></textarea>
                <label>Приложите фото/скриншот:</label><br><br>
                <div class="file-inp">
                    <label><input type="file" name="image"><span>Выберите файл</span></label>
                </div>
                <input type="submit" value="Ответить" class="savebut" style="margin-right:20px">
            </form>
        </div>
    </div>
{% endblock content %}