{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content">
        <h1>
            Служба поддержки
        </h1>

        <div class="content-body">
            <form method="POST" action="{% url 'feedback:create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Заголовок вопроса:</label>
                <input type="text" name="title" required placeholder="Макс. 50 символов"><br>
                <label>Содержание вопроса:</label><br>
                <textarea name="text" id="" required placeholder="А вот тут максимально подробно"></textarea>
                <label>Приложите фото/скриншот:</label><br><br>
                <div class="file-inp">
                    <label><input type="file" name="image" required><span>Выберите файл</span></label>
                </div>
                <input type="submit" value="Отправить запрос" class="savebut">
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="info"><img src="{% static 'img/information.svg' %}" alt="">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Заголовок вопроса</td>
                        <td>Содержание вопроса</td>
                        <td>Дата</td>
                        <td>Ответ</td>
                    </tr>
                    </thead>
                    {% for feedback in feedback_list %}
                        <tbody>
                        <tr>
                            <td>{{ feedback.id }}</td>
                            <td>{{ feedback.title }}</td>
                            <td><a data-fancybox data-src="#modal-supp-txt" href="javascript:;">Показать</a></td>
                            <div style="display: none;" id="modal-supp-txt">
                                <h2 class="modal-h2">{{ feedback.title }}</h2>
                                <p>{{ feedback.text }}</p>
                            </div>
                            <td>{{ feedback.date }}</td>
                            {% if feedback.processing == True %}
                                <td style="max-width:300px;"><span style="color:green">Обработано</span> <a data-fancybox data-src="#modal-answ" href="javascript:;">(посмотреть ответ)</a></td>
                            {% else %}
                                <td style="max-width:300px;"><span style="color:blue">В обработке</span></td>
                            {% endif %}
                            <div style="display: none;" id="modal-answ">
                                <h2 class="modal-h2">Ответ на запрос #{{ feedback.id }}</h2>
                                <p>Тело ответа</p>
                            </div>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            {#                        <div class="info"><img src="{% static 'img/information.svg' %}" alt="">Отправлено в службу поддержки</div>#}
            {#            <div class="error"><img src="{% static 'img/error.svg' %}" alt="">Ошибка отправки. Не заполнено содержание вопроса#}
            {#            </div>#}
{#            {% feedback_list count=4 %}#}
{#            {% paginate 20 entries %}#}
{#            {% if count %}#}
            {% include 'include/pagination.html' %}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}